.user {
  text-align: center;
  position: relative;
  border-bottom: 2px solid gray;
}

.user img {
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -100px;

}

.user-title {
  padding-top: 140px;
}

.user-introduce {
  padding-top: 40px;
  padding-bottom: 20px;
}